.npm
.npmrc

# Examples files and local files
examples
local*
photos
out
docs
*sublime-*
test/*_test_my_saved_config*
*.log

# Packages
*.tgz

# SFTP configuration
sftp-config.json

# iobroker stuff
sftp-config.json
install.sh
iobroker
iobroker-data/
killall.sh
reinstall.sh